@model List<ProductsAndCategories.Models.Product>

<h1>DB of Products & Categories</h1>

<!-- Liens vers les pages "Add Product" et "Add Category" -->
<div>
    <a href="/AddProduct">Product</a> |
    <a href="/AddCategory">Category</a>
</div>

<!-- Placez un point d'arrêt sur la ligne suivante en cliquant sur la marge à gauche de la ligne -->
@foreach (var product in Model)
{
    <div>
        <p>@product.Name</p>
        <p>@product.Description</p>
        <p>@product.Price</p>
    </div>
}
