@model ProductsAndCategories.Models.MyViewModel

<h2>Add Product to Category</h2>

<form asp-action="AddAssociation" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="ProductId">Products:</label>
        <select asp-for="ProductId" class="form-select">
            @foreach (var product in Model.AllProducts)
            {
                <option value="@product.ProductId">@product.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Categories:</label>
        <select asp-for="CategoryId" class="form-select">
            @foreach (var category in Model.AllCategories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="Add Product to Category" class="btn btn-info">
</form>
